.DS_Store
public
resources
.idea
content/.obsidian
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
content/.trash
data/linkIndex.yaml
data/linkIndex.yaml
data/contentIndex.yaml
