// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;


  --deep-dark-accent: #2f1010;
  --dark-accent: #ffeded;
  --lite-accent: #a35158;
  --accent: #912e2e;
  --accent2: #aac1d3/*#4c78cc*/;
  --accent2-lite: #5599d0;
  --bg: #dde4ef;
  --fg: var(--accent) /*#9f0202*/;
  --side-bar: var(--note);
  --outer-bar: #eef3fd;
  --dark-sidebar: #f1f5ff;
  --inactive: #a6bbde /*#91a3c1*/;
  --outline: var(--bg);
  
  --folder: #ce6d6d;
  --file: #7e8ea3;
  --f-icon: var(--inactive);
  --f-hover: var(--accent);
  --lines: #b5c2d8;
  
  --headers: #c14343;
  --note: #f8fbff;
  --text: #697580;
  --soft-text: #d04e4e;
  --code-text: #ea4262;
  --footnote: #8996a0;

  --code-bg: var(--embed-bg) /*#eef6ff*/;
  --embed-bg: var(--dark-sidebar) /*#ebf1f8*/;
  --aside-bg: var(--dark-sidebar);
  
  --th: var(--headers);
  --td: #d0ddef62;
  
  --highlight-md: rgba(199, 129, 129, 0.4);
  --highlight-s: rgba(253, 115, 115, 0.4);
  --highlight-c: rgba(229, 149, 149, 0.37);
  
  --hvr: var(--text-highlight-bg);
  --hvr2: var(--text-selection);

  --tag: #c65656;
  --table: #ccd6eb;
  --hr: #d6deea;
  --i-at: var(--headers)/*#804848*/;
}

:root {
  --f-s-h: 34px;
  --font: 'Calisto MT', 'Inter';
  --txt-fnt: 'Inter';

  --hr-sym: "\e817";
  --its: 'its';
  --hr-f: var(--its);

  --micro: 70px;
  --tiny: 100px;
  --small: 200px;
  --small-med: 300px;
  --med-small: 400px;
  --medium: 500px;
  --med-tall: 600px;
  --tall: 700px;
}

[saved-theme="dark"] {
  --light: #1a1e24 !important;
  --dark: #bccad8 !important;
  --secondary: #e06c75 !important;
  --visited: #4a575e !important;
  --tertiary: #61afef !important;
  --primary: #f58382 !important;
  --gray: #aab3ca !important;


  --lightgray: #292633 !important;
  --outlinegray: #2a3b55 !important;

  --deep-dark-accent: #3f1010 /*#2f1010*/;
    --dark-accent: #652121 /*#571a1a, #53201F*/;
    --lite-accent: #e06c75;
    --accent: #863737/*#883737, #c14343*/;
    --accent2: #42536e/*#4c78cc*/;
    --accent2-lite: #61afef;
    --bg: #252c36;
    --fg: #cfd7dd;
    --side-bar: var(--note);
    --outer-bar: #0b0f13 /*#0e0f15*/;
    --dark-sidebar: #0d1014;
    --inactive: #586477;
    --outline: var(--outer-bar);

    --folder: #e05858;
    --file: #aab3ca;
    --f-icon: var(--inactive);
    --f-hover: var(--accent);
    --lines: var(--hr);
        
    --note: #1a1e24;
    --text: #bccad8;
    --headers: #c14343;
    --soft-text: #aab3ca;
    --code-text: #fa4545;
    --footnote: #6e7e89;

    --code-bg: #232831;
    --embed-bg: var(--dark-sidebar);
    --aside-bg: #11151d;

    --th: var(--dark-accent);
    --td: #06080c60;
    
    --hvr: var(--text-highlight-bg);
    --hvr2: var(--text-selection);
    
    --tag: var(--th);
    --table: #283846;
    --hr: #2a3b55;
    --i-at: #bf5e5e;
}