h1, h2, h3, h4, h5, h6, thead {
    font-family: var(--font-header);
    // color: var(--dark);
}
  
/*Headings/Headers*/
.title {
    text-align: center;
    font-size: calc(var(--f-s-h) + 5px);
  
    &::after {
      display: none;
    }
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-family: 'Calisto MT', 'Inter';
    color: var(--headers);
}
  
h5, h6 {
    color: var(--text);
    margin-block-start: 16px;
    margin-block-end: 16px;
}
  
h1:not(#page-title), 
h2, 
h3, 
h4 {
    &::after { 
      content: "";
      display: block;
      background: var(--table);
      height: 4px;
      left: 0;
    }
  }
h1:after { width: 100%; }
h2:after { width: 85%; }
h3:after { width: 65%; }
h4:after { width: 40%; }

h1 { font-size: var(--f-s-h); }
h2 { font-size: calc(var(--f-s-h) - 4px); }
h3 { font-size: calc(var(--f-s-h) - 8px); }
h4 { font-size: calc(var(--f-s-h) - 10px); }
h5 { font-size: calc(var(--f-s-h) - 10px); }
h6 { font-size: calc(var(--f-s-h) - 14px); }
  
.hanchor { color: var(--inactive); }
  
//   h1, h2, h3, h4, h5, h6, ol, ul, thead {
//     font-family: var(--font);
//     letter-spacing: .30px;
//     color: var(--text);
//     font-weight: revert;
//     margin: 2rem 0 0;
//     padding: 2rem auto 1rem;
//   }