blockquote:not([class$='callout']) {    
    display: grid;
    border: 0px solid var(--bg);
    background-color: var(--embed-bg);
    border-left-width: 8px;
    position: relative;
    margin: 1em;
    padding-right: 40px;
    padding-left: 20px;

    &:before {
        content: '\201D';
        font-family: var(--font);
        color: var(--headers);

        transform: scale(3.5);
        position: absolute;
        right: 1.5em;
        top: 1.5em;
    }
}
  